:root {
    --color1: #222222;
    --color2: #FA8112;
    --color3: #F5E7C6;
    --color4: #FAF3E1;

    --primary-bg-color: var(--color4);
    --secondary-bg-color: var(--color3);
    --heading-font-color: var(--color2);
    --accent-font-color: var(--color2);
    --normal-font-color: var(--color1);
    --border-color: var(--color2);

    font-size: 62.5%;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav, header, main, aside {
    border: 1px solid var(--border-color);
}

body {
    outline: 2px solid var(--border-color);
    outline-offset: -2px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr 3fr 2fr;
    background-color: var(--primary-bg-color);
}

nav, .extra {
  grid-column: 1/2;
  grid-row: 1/4;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.logo {
  padding: 20px 0;
  border-bottom: 2px dashed var(--border-color);
}

.logo a {
  font-size: 2.3rem;
  color: var(--heading-font-color);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--normal-font-color);
  font-weight: 600;
  font-size: 1.6rem;
  padding-left: 20px
}

.nav-item:hover {
  color: var(--heading-font-color);
}

svg {
  height: 2rem;
  color: var(--color2);
  display: inline-block;
  cursor: pointer;
}

.extra {
  margin-top: 100px;
}

header {
  grid-column: 2/4;
}

main {
  grid-row: 2/4;
}

aside {
  grid-row: 2/4;
}

header {
  display: flex;
  flex-direction: column;
}

header > div {
  flex: 1;
}

.top {
  display: flex;
  padding: 0 15px;
}

.top label {
  display: inline-block;
  width: fit-content;
}

.top input {
  border: none;
  border-radius: 25px;
  background-color: var(--secondary-bg-color);
  width: 350px;
  padding: 5px 10px;
  color: var(--heading-font-color);
}

.top input:focus {
  caret-color: var(--border-color);
  outline: none;
}

.form {
  display: flex;
  gap: 5px;
  align-items: center;
}

.account-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.account-section .pfp {
  height: 3rem;
  margin-left: 10px;
  margin-right: 5px;
}

.account-section h1 {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}

.bottom {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.bottom svg {
  height: 4rem;
  margin-right: 5px;
}

.greeting h2 {
  font-size: 1rem;
  font-weight: 600;
}

.greeting h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

.right .action-btn {
  display: grid;
  place-items: center;
  flex: 1;
  text-decoration: none;
  background-color: var(--secondary-bg-color);
  color: black;
  border-radius: 25px;
  font-size: 1.25rem;
  font-weight: 600;
}

.right {
  display: flex;
  width: 250px;
  height: 25px;
  gap: 15px;
  margin-left: auto;
}



/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}